// importing core styling file
@import "./assets/fontawesome/scss/fontawesome.scss";

// our project needs Solid
@import "./assets/fontawesome/scss/solid.scss";

* {
  -webkit-tap-highlight-color: transparent;
}

page {
  background-color: #f3f6fc;
}

.clickable:active {
  background-color: #f2f3f5;
}
